* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*
blue color - #29438e
green color - #73eb27
 */
header {
    text-align: center;
    background-color: black;
    color: white;
}

#header-small {
    position: relative;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-bars {
    color: #73eb27;
    cursor: pointer;
}

#hamburger-menu {
    display: none;
    color: white;
    background-color: black;
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 5;
    transform: translateY(100%);
}

#hamburger-menu a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

#hamburger-menu ul {
    list-style-type: none;
    padding: 0px;
}

#hamburger-menu li {
    text-align: left;
    padding: 12px;
    border: 1px solid white;
}

#hamburger-menu li:hover {
    color: #29438e;
    background-color: #73eb27;
}

#header-big {
    display: none;
}

/* Animazione divisorio sezioni */

.divider {
    height: 15px;
    border: 2px solid black;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
    background: linear-gradient(45deg, 
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #73eb27, 
            #73eb27,
            #73eb27,
            #73eb27, 
            #73eb27,
            #73eb27);
    animation-name: bg-change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes bg-change {
    5% {
        background: linear-gradient(45deg, 
            #73eb27,
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #73eb27, 
            #73eb27,
            #73eb27,
            #73eb27, 
            #73eb27);
    }
    10% {
        background: linear-gradient(45deg, 
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #73eb27, 
            #73eb27,
            #73eb27,
            #73eb27);
    }
    15% {
        background: linear-gradient(45deg, 
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #73eb27, 
            #73eb27,
            #73eb27);
    }
    20% {
        background: linear-gradient(45deg, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #73eb27, 
            #73eb27);
    }
    25% {
        background: linear-gradient(45deg, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #73eb27);
    }
    30% {
        background: linear-gradient(45deg, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #29438e);
    }
    35% {
        background: linear-gradient(45deg,
            #29438e, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #29438e,
            #29438e,
            #29438e);
    }
    40% {
        background: linear-gradient(45deg,
            #29438e,
            #29438e, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #29438e,
            #29438e);
    }
    45% {
        background: linear-gradient(45deg,
            #29438e,
            #29438e,
            #29438e, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e, 
            #29438e,
            #29438e);
    }
    50% {
        background: linear-gradient(45deg,
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e, 
            #29438e);
    }
    55% {
        background: linear-gradient(45deg, 
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e);
    }
    60% {
        background: linear-gradient(45deg, 
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e);
    }
    65% {
        background: linear-gradient(45deg, 
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e);
    }
    70% {
        background: linear-gradient(45deg, 
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black,
            black,
            black);
    }
    75% {
        background: linear-gradient(45deg, 
            black,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black,
            black);
    }
    80% {
        background: linear-gradient(45deg, 
            black,
            black,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black,
            black);
    }
    80% {
        background: linear-gradient(45deg, 
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black,
            black);
    }
    85% {
        background: linear-gradient(45deg, 
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black,
            black);
    }
    90% {
        background: linear-gradient(45deg, 
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            black);
    }
    95% {
        background: linear-gradient(45deg, 
            black,
            black,
            black,
            black,
            black,
            black,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e,
            #29438e, 
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27,
            #73eb27
            );
    }
}


/* CSS sezioni */
section {
    padding: 150px 0px;
}

/* Prima sezione */
#home {
    padding-top: 75px;
    text-align: center;
    background-color: #29438e;
    color: #73eb27;
    position: relative;
    overflow: hidden;
}

#home-quote {
    background-color: rgba(194, 194, 194, 0.3);
    color: white;
    width: 50%;
    padding: 15px;
    margin: 30px auto;
    border-radius: 6px;
}

#home-quote p {
    font-style: italic;
    padding: 10px 0px;
}

.green-decoration {
    position: absolute;
    background-color: #73eb27;
    right: -17px;
    top: 30px;
    content: "";
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    animation-name: green-rotate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes green-rotate {
    25% {
       transform: rotate(90deg);
    }
    50% {
        transform: rotate(135deg);
    }
    75% {
        transform: rotate(180deg);
    }
}

.black-decoration {
    position: absolute;
    background-color: black;
    left: -17px;
    bottom: 30px;
    content: "";
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
    animation-name: black-rotate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes black-rotate {
    25% {
       transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-135deg);
    }
    75% {
        transform: rotate(-180deg);
    }
}

#home img {
    width: 50%; 
    margin: 20px auto;
}

#home-wrapper {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 20px 0px;
    background-color: black;
    border-radius: 4px;
}

#home-wrapper::before {
    position: absolute;
    content: "";
    background-color: #73eb27;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    top: 0px;
    left: 0px;
    animation-name: decoration1;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes decoration1 {
    0% {
        top: 0px;
        left: 0px;
    }
    20% {
        top: 0px;
        left: 100%;
    }
    50% {
        top: 100%;
        left: 100%;
    }
    70% {
        top: 100%;
        left: 0%;
    }
    100% {
        top: 0%;
        left: 0%;
    }
}

#home-wrapper::after {
    position: absolute;
    content: "";
    background-color: #29438e;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 100%;
    animation-name: decoration2;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes decoration2 {
    0% {
        top: 100%;
        left: 100%;
    }
    20% {
        top: 100%;
        left: 0%;
    }
    50% {
        top: 0%;
        left: 0%;
    }
    70% {
        top: 0%;
        left: 100%;
    }
    100% {
        top: 100%;
        left: 100%;
    }
}

#home-wrapper h2 {
    font-size: 35px;
}

.greenonblue{
    background-color: #29438e;
    color: #73eb27;
    padding: 7px;
    border: 2px solid white;
    
}

.blueongreen{
    background-color: #73eb27;
    color: #29438e;
    padding: 7px;
    border: 2px solid white;
    border-right: 0px;
}

#home-wrapper p {
    margin: 30px 0px;
    font-size: 22px;
    color: white;
}

/* Seconda sezione: Chi sono */
#presentation {
    text-align: center;
    background-color: #73eb27;
    color: #29438e;
    padding: 0px 0px 50px 0px;
}

#presentation h2 {
    height: 50px;
    display: inline-block;
    background-color: #29438e;
    color: #73eb27;
    padding: 8px 14px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 40px;
}

#presentation-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    border: 2px solid #29438e;
    border-radius: 6px;
}

.presentation-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #29438e;
    color: #73eb27;
    padding: 15px 10px;
}

.presentation-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation-img img {
    width: 90%;
}

.presentation-icons {
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
}

/* Colori icone */
.fa-html5 {
    color: #df420d;
}

.fa-css3-alt {
    color: #254bde;
}

.fa-js-square {
    color: #ceb32f;
}

.fa-sass {
    color: #c76396;
}

.fa-bootstrap {
    color: #543b79;
}

.fa-php {
    color: #7478ae;
}

.fa-database {
    color: #939cb0;
}

.fa-wordpress {
    color: #207297;
}

.fa-laravel {
    color: #ec4e43;
}



/* Terza sezione: progetti */
#projects {
    padding: 0px 0px 50px 0px;
    text-align: center;
    background-color: lightgray;
    color: black;
}

#projects h2 {
    height: 50px;
    display: inline-block;
    background-color: black;
    color: lightgray;
    padding: 8px 14px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 40px;
}

.project-item {
    width: 100%;
    height: 450px;
    background-color: black;
    color: lightgray;
    padding: 15px 0px;
    box-shadow: 16px 16px 15px grey;
    margin-bottom: 80px;
}

.card-hidden {
    display: none;
}

.card-front {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.project-item h3 {
    padding: 10px 0px;
    text-transform: uppercase;
    font-size: 25px;
}

.project-item .card-back {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #29438e;
    color: #73eb27;
} 

.project-item .card-back strong {
    font-weight: bold;
}

.exit-details {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.project-item p {
    padding: 10px 4px;
    font-size: 18px;
}

.project-details {
    background-color: black;
    color: #73eb27;
    font-size: 15px;
    border: 0px;
    padding: 8px 10px;
    margin: 8px 0px;
    cursor: pointer;
}

.btn-project1 {
    display: block;
    background-color: lightgray;
    color: black;
    padding: 8px 10px;
    margin: 8px 0px;
    border: 2px outset white;
    text-decoration: underline;
    font-size: 20px;
}

.project-img {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.project-img img {
    width: 100%;
}

.project-item.template {
    display: none;
} 

/* Quarta sezione: contatti */
#contacts {
    padding: 0px 0px 100px 0px;
    text-align: center;
    background-color: #73eb27;
    color: #29438e;
}

#contacts h2 {
    height: 50px;
    display: inline-block;
    background-color: #29438e;
    color: #73eb27;
    padding: 8px 14px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 70px;
}

#contacts h3 {
    display: block;
    background-color: #29438e;
    color: #73eb27;
    margin-bottom: 20px;
    padding: 16px 8px;
}

#contacts-wrapper {
    width: 95%;
    margin: auto;
    border: 2px solid #29438e;
    border-radius: 5px;
}

#contacts-wrapper #contacts-link{
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contacts-wrapper i {
    font-size: 90px;
}

#contacts-wrapper i.fa-envelope{
    color: red;
}

#contacts-wrapper i.fa-linkedin{
    color: #0077b5;
}

#contacts-wrapper i.fa-github{
    color: white;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    padding: 7px;
    text-align: center;
}

footer a {
    color: lightgray;
}

/* Media query */

@media screen and (min-width: 768px) {
    /* Header */
    #header-small {
        display: none;
    }

    #header-big {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
    }

    #header-big ul {
        list-style-type: none;
    }

    #header-big li {
        float: left;
        padding: 20px;
    }

    #header-big li:hover {
        background-color: #73eb27;
    }

    #header-big li:hover a {
        color: #29438e;
        text-decoration: underline;
    }

    #header-big li a {
        text-decoration: none;
        color: white;
        font-size: 22px;
    }

/* Prima sezione */
    #home-quote {
        width: 30%;
    }

    #home-wrapper {
        width: 50%;
    }

    /* Seconda sezione */

    #presentation-wrapper {
        width: 70%;
    }

    .presentation-img img {
        width: 50%;
    }

    /* Terza sezione */
    .project-container {
        margin: auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .project-item {
        width: 300px;
        margin: 30px;
    }

    /* Quarta sezione */

    #contacts-wrapper {
        width: 70%;
    }

    #contacts-wrapper a:hover i.fa-envelope{
        color: firebrick;
    }

    #contacts-wrapper a:hover i.fa-linkedin{
        color: blue;
    }

    #contacts-wrapper a:hover i.fa-github{
        color: grey;
    }


}

